{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<article>
    <div id="contact_form">
    <header>
        <div class="heading">
            <h1>Contact Us</h1>
            <p>Fill Out The Form Below + We Will Reply ASAP!</p>
        </div>
    </header>
        <hr>
    <section>
        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form | as_bootstrap}}
            <button class="btn btn-success col-sm-12" type="submit">Submit</button>
    </form>
    </div>
    </section>
</article>
{% endblock %}