{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}
{% block heading %}Reset Your Password{% endblock %}

{% block content %}
<article>
    <div id="password_reset">
    <header>
        <div class="heading">
            <h2>Reset Your Password</h2>
            <p>Please Enter Your Email + Check Your Inbox!</p>
        </div>
    </header>
        <hr>
    <section>
        <form method='POST'>
            {% csrf_token %}
            {{ form.email.errors }}

            <label for='id_email'>Email Address: </label>
            {{ form.email }}

            <button type="button" class="btn btn-success col-md-4 col-sm-12">Reset Password</button>
        </form>
    </div>
    </section>
</article>
{% endblock %}