/* ----------------------------------------------------------------------------------------
                                 1. Universsl Styling
 --------------------------------------------------------------------------------------- */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* ----------------------------------------------------------------------------------------
                                 2. Navigation Styling
 --------------------------------------------------------------------------------------- */

nav {
    font-family: 'Montserrat';
    margin-bottom: -20px;
}
/* ----------------------------------------------------------------------------------------
                                 3. Form Styling
 --------------------------------------------------------------------------------------- */

form {
    width: 50%;
} 

/* ----------------------------------------------------------------------------------------
                                 4. Blog Page
 --------------------------------------------------------------------------------------- */

 #blog {
    font-family: 'Montserrat';
    padding: 3%;
    width: 80%;
    margin: 0 auto;
 }

 #blog .author_img {
    margin-top: 25%;
    display: block;
}

#blog .img-circle{
    width:150px;
    height: 150px; 
}

.blog_content p {
    font-size: 0.8em;
}
.blog_content img {
    object-fit: cover;
    max-height: 300px;
    max-width: 700px;
}
/* ----------------------------------------------------------------------------------------
                                 5. Blog Post Expand Page
 --------------------------------------------------------------------------------------- */
#blog_detail {
    padding: 3%;
    font-family: 'Montserrat';
}

#blog_detail h1 {
    font-size: 4em;
}

#blog_detail .img-circle {
    width:150px;
    height: 150px; 
}

#blog_detail .img-author_img {
    display: block;
}

#blog_detail .img-fluid {
    margin: 3%;
}

/* ----------------------------------------------------------------------------------------
                                 6. Merchandise Page
 --------------------------------------------------------------------------------------- */

 #shop {
    font-family: 'Montserrat';
    padding: 3%;
    width: 80%;
    margin: 0 auto;
 }

 #shop .card {
     margin: 1% auto;
 }

/* ----------------------------------------------------------------------------------------
                                 6. Index Page
 --------------------------------------------------------------------------------------- */
#index {
    font-family: 'Montserrat';
}

.hero_image {
    position: relative;
    left: 55%;
    bottom: 120%;
}

.hero_image img {
    height: 600px;
    width: 600px;
}

.hero_section {
    padding: 3%;
    background-image: linear-gradient(to bottom, #f8f9fa, #d8f1ff, #adecff, #76e7fb, #12e2eb);
    height: 40vh;
    }

.hero_section h1 {
    font-size: 5.5em;
    line-height: 1.5;
}

.hero_section h3 {
    font-size: 2.75em;
}

/* ----------------------------------------------------------------------------------------
                                 7. Why Us Section / Index.html
 --------------------------------------------------------------------------------------- */
#why_us {
    font-family: 'Montserrat';
    padding: 3%;
    width: 80%;
    margin: 0 auto;
}

.why_icons {
    padding: 5%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.why_us i {
    margin: 10px;
       color: #a39291;
}

/* ----------------------------------------------------------------------------------------
                                 8. Portfolio Section / Index.html
 --------------------------------------------------------------------------------------- */
 #portfolio_index {
    background-color: #8E8E8E;
    padding: 3%;
    -webkit-clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
 }

#portfolio_index hr {
    background-color: #fff;
}

#portfolio_index .header {
    color: #fff;
}

 #portfolio_index .row {
     padding: 5%;
 }

.portfolio_index_container {
    width: 80%;
    margin: 0 auto;
}
/* ----------------------------------------------------------------------------------------
                                 9. Portfolio Page
 --------------------------------------------------------------------------------------- */

#portfolio_page {
    font-family: 'Montserrat';
    padding: 3%;
    width: 80%;
    margin: 0 auto;
}


#portfolio_page .portfolio_image {
    margin: 5px;
}

 /* ----------------------------------------------------------------------------------------
                                 10. Review Page
 --------------------------------------------------------------------------------------- */

#reviews {
    font-family: 'Montserrat';
    padding: 3%;
    width: 80%;
    margin: 0 auto;
 }

 #reviews .card {
     margin: 2% 1%;
 }

  /* ----------------------------------------------------------------------------------------
                                 11. Review Form Page
 --------------------------------------------------------------------------------------- */

 #review_form {
    font-family: 'Montserrat';
    padding: 3%;
    width: 80%;
    margin: 0 auto;
 }

 /* ----------------------------------------------------------------------------------------
                                 11. Review Detail Page
 --------------------------------------------------------------------------------------- */

 #review_detail {
    font-family: 'Montserrat';
    padding: 3%;
    width: 80%;
    margin: 0 auto;
 }

 #review_detail form {
     text-align: center;
 }

 #review_detail img {
     border: 1px solid black;
     width: 80%;
     margin-bottom: 2%;
 }

 #review_detail .review_votes {
     margin: 0 auto;
 }

 /* ----------------------------------------------------------------------------------------
                                 12. Merchandise Section / Index.html
 --------------------------------------------------------------------------------------- */

 #merchandise_section {
    font-family: 'Montserrat';
    padding: 3%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
 }
 
 #merchandise_section .card {
    margin: 5% auto;
 }

/* ----------------------------------------------------------------------------------------
                                 13. Blog Section / Index.html
 --------------------------------------------------------------------------------------- */

#blog_section {
    font-family: 'Montserrat';
    padding: 3%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    background-color: #8e8e8e;
}

#blog_section hr {
    background-color: #fff;
}

#blog_section .header {
    color: #fff;
}

#blog_section .card {
    margin: 0 auto;
}

#blog_section .card img {
    object-fit: cover;
    max-height: 250px;
    max-width: 700px;
}

#blog_section a {
    color: #fff;
}  

/* ----------------------------------------------------------------------------------------
                                 14. Registration Page
 --------------------------------------------------------------------------------------- */
#reg_page {
    font-family: 'Montserrat';
    padding: 3%;
    width: 80%;
    margin: 0 auto;
}
 /* ----------------------------------------------------------------------------------------
                                 15. Login Page
 --------------------------------------------------------------------------------------- */
 #login_page {
    font-family: 'Montserrat';
    padding: 3%;
    width: 80%;
    margin: 0 auto;
}

/* ----------------------------------------------------------------------------------------
                                  MEDIA QUERIES
 --------------------------------------------------------------------------------------- */

  /* ----------------------------------------------------------------------------------------
                                 1. Hero Section /Index.html
 --------------------------------------------------------------------------------------- */
@media (max-width: 320px) {
    .hero_image {
        position: relative;
        right: 20%;
        bottom: 5%;
        top: 15%;
        left: 2%;
    }

    .hero_image img {
        height: 190px;
        width: 190px;
    }

    .hero_section {
        text-align: center;
        padding: 3%;
        background-image: linear-gradient(to bottom, #f8f9fa, #d8f1ff, #adecff, #76e7fb, #12e2eb);
        height: 60vh;
        }

    .hero_section h1 {
        font-size: 2.3em;
        line-height: 2;
    }

    .hero_section h3 {
        font-size: 1.15em;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
       .hero_image {
        position: relative;
        right: 20%;
        bottom: 5%;
        top: 13%;
        left: 2%;
    }

    .hero_image img {
        height: 250px;
        width: 250px;
    }

    .hero_section {
        text-align: center;
        padding: 3%;
        background-image: linear-gradient(to bottom, #f8f9fa, #d8f1ff, #adecff, #76e7fb, #12e2eb);
        height: 60vh;
        }

    .hero_section .heading {
        margin-top: 8%;
    }
    .hero_section h1 {
        font-size: 2.3em;
        line-height: 2;
    }

    .hero_section h3 {
        font-size: 1.15em;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .hero_section {
        text-align: center;
        padding: 3%;
        background-image: linear-gradient(to bottom, #f8f9fa, #d8f1ff, #adecff, #76e7fb, #12e2eb);
        height: 60vh;
        }

     .hero_image {
        position: relative;
        right: 20%;
        bottom: 5%;
        top: 13%;
        left: 2%;
    }

    .hero_image img {
        height: 250px;
        width: 250px;
    }

    .hero_section .heading {
        margin-top: 8%;
    }
    .hero_section h1 {
        font-size: 2.3em;
        line-height: 2;
    }

    .hero_section h3 {
        font-size: 1.15em;
    }
}
 /* ----------------------------------------------------------------------------------------
                                 2. Why Us Section /Index.html
 --------------------------------------------------------------------------------------- */
@media (max-width: 320px) {
    .why_us i {
        font-size: 6em;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .why_us i {
        font-size: 6em;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .why_us i {
        font-size: 6em;
    }
}

 
 /* ----------------------------------------------------------------------------------------
                                 2. Portfolio Section /Index.html
 --------------------------------------------------------------------------------------- */
@media (max-width: 320px) {
    #portfolio_index .header {
        margin-top: 11%;
    }

    #portfolio_index .img-thumbnail {
        margin: 2% auto;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
     #portfolio_index .header {
        margin-top: 9%;
    }
    #portfolio_index .img-thumbnail {
        margin: 2% auto;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
     #portfolio_index .header {
        margin-top: 9%;
    }
    #portfolio_index .img-thumbnail {
        margin: 2% auto;
    }
}
 /* ----------------------------------------------------------------------------------------
                                 3. Blog Section /Index.html
 --------------------------------------------------------------------------------------- */
@media (max-width: 320px) {
    #blog_section {
        height: 126vh;
    }

}

@media (min-width: 321px) and (max-width: 375px) {
    #blog_section {
        height: 111vh;
    }
}