/* ----------------------------------------------------------------------------------------
                                 1. Universsl Styling
 --------------------------------------------------------------------------------------- */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
/* ----------------------------------------------------------------------------------------
                                 2. Navigation Styling
 --------------------------------------------------------------------------------------- */

nav {
    font-family: 'Montserrat';
}
/* ----------------------------------------------------------------------------------------
                                 3. Form Styling
 --------------------------------------------------------------------------------------- */

form {
    width: 50%;
} 

/* ----------------------------------------------------------------------------------------
                                 4. Blog Page
 --------------------------------------------------------------------------------------- */

 #blog {
    font-family: 'Montserrat';
    padding: 3%;
    width: 80%;
    margin: 0 auto;
 }

 #blog .author_img {
    margin-top: 25%;
    display: block;
}

#blog .img-circle{
    width:150px;
    height: 150px; 
}

.blog_content p {
    font-size: 0.8em;
}
.blog_content img {
    object-fit: cover;
    max-height: 300px;
    max-width: 700px;
}
/* ----------------------------------------------------------------------------------------
                                 5. Blog Post Expand Page
 --------------------------------------------------------------------------------------- */
#blog_detail {
    padding: 3%;
    font-family: 'Montserrat';
}

#blog_detail h1 {
    font-size: 4em;
}

#blog_detail .img-circle {
    width:150px;
    height: 150px; 
}

#blog_detail .img-author_img {
    display: block;
}

#blog_detail .img-fluid {
    margin: 3%;
}

/* ----------------------------------------------------------------------------------------
                                 6. Shop Page
 --------------------------------------------------------------------------------------- */

 #shop {
    font-family: 'Montserrat';
    padding: 3%;
    width: 80%;
    margin: 0 auto;
 }

 