/* ----------------------------------------------------------------------------------------
                                 1. Universsl Styling
 --------------------------------------------------------------------------------------- */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
/* ----------------------------------------------------------------------------------------
                                 2. Navigation Styling
 --------------------------------------------------------------------------------------- */

nav {
    margin-bottom: -19px;
    font-family: 'Montserrat';
}
/* ----------------------------------------------------------------------------------------
                                 3. Form Styling
 --------------------------------------------------------------------------------------- */

form {
    width: 50%;
} 

/* ----------------------------------------------------------------------------------------
                                 4. Blog Page
 --------------------------------------------------------------------------------------- */

 #blog {
    font-family: 'Montserrat';
    padding: 3%;
    width: 80%;
    margin: 0 auto;
 }

 .author_img {
    margin-top: 25%;
    display: block;
}

.img-circle{
    width:150px;
    height: 150px; 
}

.blog_content p {
    font-size: 0.8em;
}
.blog_content img {
    object-fit: cover;
    max-height: 300px;
    max-width: 700px;
} 