{% extends 'base.html' %}}

{% load bootstrap_tags %}

{% block title %}Registration Page{% endblock %}

{% block content %}
    <div id="reg_page">
        <div class="header">
            <h2>Registration Page</h2>
        </div>
        <hr>
        <p>Already have an account? <a href='{% url 'login' %}'>Log in here.</a></p>
        <form method="POST">
            {% csrf_token %}
            {{ registration_form | as_bootstrap}}
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
    </div>
{% endblock %}